#!/usr/bin/env bash
set -euo pipefail

ip tunnel add "{{ interface }}" mode sit local "{{ ip_dest }}" remote "{{ ip_origin }}" ttl 255
ip -6 addr add "{{ dest_private_ip }}" dev "{{ interface }}"
ip link set "{{ interface }}" mtu 1440
ip link set "{{ interface }}" up
